.home_project_list{
	font-size: 30px;
	color: khaki;
	text-shadow: -1px -1px 0 black,1px -1px 0 black,-1px 1px 0 black,1px 1px 0 black;
	font-family:'setofont';
	margin-left: 20px;
}
.detail_list{
	font-size: 30px;
	padding-left: 50px;
	color: khaki;
	text-shadow: -1px -1px 0 black,1px -1px 0 black,-1px 1px 0 black,1px 1px 0 black;
	font-family:'setofont';
}
a{
	text-decoration:none;
	color: khaki;
	text-shadow: -1px -1px 0 black,1px -1px 0 black,-1px 1px 0 black,1px 1px 0 black;
}
.div_h1{
	left: 50%;
	margin: 0px 0px 0px 0px;
}

.internal{
    position:relative;
	left: 3%;
	width:85%;
	background-color: black;
	border-style:groove;
	border-color: rgba(34, 17, 17, 0.6);
	word-wrap:break-word;
	color: khaki;
	font-family:'setofont';
	line-height: 50px;
	}
.detail{
	position:relative;
	left: 3%;
	width:30%;
	background-color: black;
	border-style:groove;
	border-color: rgba(34, 17, 17, 0.6);
	word-wrap:break-word;
	color: khaki;
}