

/* ---- particles.js container ---- */

#particles-js{
  background-color: #565656;
  height: 15%;
  width: 100%;
  position: relative;
  margin-top: 0px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
}
